body{
    background-color: white;
    font-family: Kanit;

}

.presentacion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://static.vecteezy.com/system/resources/previews/013/331/922/non_2x/abstract-white-interior-highlights-future-architectural-background-panoramic-abstract-decorative-dark-background-wide-angle-rough-stylized-mystic-texture-wallpaper-with-copy-space-for-design-photo.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
}
.presentacion h1{
    color: white;
    font-weight: bolder;
    font-style: normal;
    font-size: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
    letter-spacing: 0.5rem;
}

.presentacion h4{
    color: #1c2334;
    font-size: 2rem;
}

.presentacion a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    border: white 0.2rem solid;
    padding: 0.5rem;
}
/* ---- */

.fondo{
    height: 50vh;
    /* background-image: url(https://masterpiecer-images.s3.yandex.net/5fbafcee353e815:upscaled);
    background-size: cover;
    background-attachment: fixed; */
}

/* ---- */
.fondoGrande{
    background-image: url(https://masterpiecer-images.s3.yandex.net/5fbafcee353e815:upscaled);
    background-size: cover;
    background-attachment: fixed;
}
.containerProyectos{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    padding: 3rem 6rem 0 6rem;
    /* background-color: white; */
    /* background-image: url(https://masterpiecer-images.s3.yandex.net/5fbafcee353e815:upscaled); */
    background-size: cover;

    /* flex-wrap: wrap; */
}
.containerProyectos h2{
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
}
.proyectos{
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    /* background-image: url(img/asistencias.PNG); */
    margin: 2rem;
    

   
}
/* .todoapp{
    
    background-image: url(img/todoapp.PNG);

}
.Newsletter{
    background-image: url(img/newsletter.PNG);
} */

.card{
    padding: 1rem;
    padding-bottom: 1.5rem;
    width: 100%;
    height: 17rem;
}


.linkProyecto{
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color:#ffffff1c;
    border: none;
    border-radius: 0;
    
}

.linkGithub{
    position: absolute;
    right: 9%;
    bottom: 0%;
    background-color:#ffffff1c;
    border: none;
    border-radius: 0;
}

/* ---- */
.card-body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
}
.card-body .card-title{
    font-size: 2rem;
}

.card-body .card-text{
    font-size: 1.4rem;
}

#asistencias, #todoapp, #Newsletter{
    background-color: rgba(0, 0, 0, 0.8);

}


.redes{
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.redes h2{
    font-size: 3rem;
}

.redesLogos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
}

.red{
    transform: scale(1);
    transition: 1s;
}
.red:hover{
    transform: scale(1.3);
    transition: 1s;
}

.json{
    width: 7em;
    height: 7em;
}


/* ---- */

.sticky-sidebar {
    position: fixed;
    top: 20px;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    /* border-radius: 10px; */
  }
  .sticky-sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  .sticky-sidebar a:hover {
    color: #0d6efd; /* Color de hover */
  }
  .sticky-sidebar i {
    font-size: 24px;
  }

  /* ---- */

.biografia{
    /* padding: 5rem; */
    /* background-color: black; */
    display: flex;
}

.bio1{
    background-color: black;
    color: white;
    transition: 1s;
    padding: 5rem;
}

.bio1:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.bio2{
    background-color: white;
    color: black;
    transition: 1s;
    padding: 5rem;
}
.bio2:hover{
    background-color: black;
    color: white;
    transition: 1s;
}

.biografia h4{
    font-weight: 300;
    font-size: 1.4rem;
    /* color: whitesmoke; */
    line-height: 1.5;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 20vh;
}

.footer h4{
    font-size: 1rem;
    /* font-family: 'Rubik', sans-serif; */
    font-weight: 500;
    unicode-bidi: isolate;
}

