@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: white;
    font-family: Urbanist,sans-serif;

}

.contenedorNavbar{

    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 0;
    padding: 1.5rem;
    background-color: transparent;
    position: fixed;
    width: 100%;
    /* flex-direction: row; */
}

.contenedorNavbar a{
    text-decoration: none;
    color: white;

}
.contenedorNavbar li{
    list-style-type: none;
}
.presentacion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(https://excursionesenushuaia.com/wp-content/uploads/2022/04/009871_1-min.jpg); */
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 1) 100%), 
    url(https://excursionesenushuaia.com/wp-content/uploads/2022/04/009871_1-min.jpg);    background-position: 10% 79%;
    filter: grayscale(100%);
    background-size: cover;

    /* background-attachment: fixed; */
}
.presentacion h1{
    color: white;
    font-weight: bolder;
    font-style: normal;
    font-size: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
    letter-spacing: 0.5rem;
}

.presentacion h4{
    color: white;
    letter-spacing: 0.2rem;
    font-size: 2rem;
}

.presentacion a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    border: white 0.2rem solid;
    padding: 0.5rem;
}
/* ---- */

.fondo{
    height: 10rem;
    /* background-image: url(https://masterpiecer-images.s3.yandex.net/5fbafcee353e815:upscaled);
    background-size: cover;
    background-attachment: fixed; */
}

/* ---- */
.fondoGrande{
    background-image: url(https://masterpiecer-images.s3.yandex.net/5fbafcee353e815:upscaled);
    background-size: cover;
    background-attachment: fixed;
}
.containerProyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-content: center;
    padding: 0 6rem 0 6rem;
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: black;
    height: 78vh;
}
.containerProyectos h2{
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
}

.proyectos{
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    /* background-image: url(img/asistencias.PNG); */
    margin: 0.5rem;
    width: 100%;
}

.imagenProyecto{
    /* height: 34rem; */
    width: 34rem;
}

.card{
    /* padding: 1rem; */
    /* padding-bottom: 1.5rem; */
    width: 100%;
    /* height: 17rem; */
}


.linkProyecto{
    position: absolute;
    right: 0%;
    bottom: 0%;
    background-color:#ffffff1c;
    border: none;
    border-radius: 0;
    
}

.linkGithub{
    position: absolute;
    right: 9%;
    bottom: 0%;
    background-color:#ffffff1c;
    border: none;
    border-radius: 0;
}

/* ---- */
.card-body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    color: white;
    padding: 0;
    gap: 5rem;

}

.card-body a{
    font-size: 3.7rem;
    text-decoration: none;
    color: gray;
    transition: letter-spacing 1s ease; 

}

.card-body a:hover{
    transition: 1s;
    letter-spacing: 0.3rem;
}
.card-body .card-title{
    font-size: 2rem;
}

.card-body .card-text{
    font-size: 1.4rem;
}

#asistencias, #todoapp, #Newsletter{
    background-color: rgba(0, 0, 0, 0.8);

}


.redes{
    background: 
    linear-gradient(to top, rgba(0, 0, 0, 0) 74%, rgba(0, 0, 0, 0.8) 100%);
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    
}

.redes h2{
    font-size: 3rem;
}

.redesLogos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.red{
    transform: scale(1);
    transition: 1s;
}
.red:hover{
    transform: scale(1.3);
    transition: 1s;
}

.json{
    width: 7em;
    height: 7em;
}


/* ---- */

.sticky-sidebar {
    position: fixed;
    top: 20px;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    /* border-radius: 10px; */
  }
  .sticky-sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  .sticky-sidebar a:hover {
    color: #0d6efd; /* Color de hover */
  }
  .sticky-sidebar i {
    font-size: 24px;
  }

  /* ---- */

.biografia{
    /* padding: 5rem; */
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
}

.bio1{
    background-color: black;
    color: white;
    transition: 1s;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

/* .bio1:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.bio2{
    background-color: white;
    color: black;
    transition: 1s;
    padding: 5rem;
}
.bio2:hover{
    background-color: black;
    color: white;
    transition: 1s;
} */

.biografia h4{
    text-wrap: balance;
    font-weight: 500;
    font-size: 1.3rem;
    /* color: whitesmoke; */
    line-height: 1.5;
    width: 50%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 10rem;
    display: flex;
    flex-direction: column;
}

.footer h4{
    font-size: 1rem;
    /* font-family: 'Rubik', sans-serif; */
    font-weight: 500;
    unicode-bidi: isolate;
}


@media only screen and (max-width: 430px) {
    .bio1, .bio2{
        padding: 2rem;
    }
    .bio1 h4, .bio2 h4{
        font-size: 1rem;
    }

    .fa-7x{
        font-size: 4em !important;
    }
    .json{
        font-size: 0.5em ;

    }

    .containerProyectos{
        padding: 0;
    }


    .card-body .card-text{
        font-size: 1rem;
        
    }
    .linkGithub{
        right: 25%;
    }
}

